@model List<CategoryViewModel>

<section class="about_section layout_padding">
	<div class="container ">
		
		<div class="row">
			<div class="col-md-6 ">
				<div class="img-box">
					<img class="bg-transparent" src="~/images/transBuisnes_processed.png" alt="">
				</div>
			</div>
			<div class="col-md-6">
				<div class="detail-box">
					<div class="heading_container">
						<h2 class="pl-3">
						 Eser Kepenk Hakkında
						</h2>
					</div>
					<div class="auto-container ">
						<div class="row">
							<div class="column col-lg-12 col-md-12 col-sm-12">
								<div class="sec-title  wow slideInLeft">


									<p style="font-size:20px; color:aliceblue">
										1950 yılından günümüze kadar faaliyet gösteren ESER KEPENK 30 uzman personeli ile Gaziantep Sektörlerine ve özel mülklere hizmet vermektedir. Eser Kepenk olarak başlıcak ürün kategorimizi saymamız gerekirse;

										Fabrika Kapıları
										Garaj Kapıları
										Bahçe Kapıları
										Fotosel Kapıları
										Panjur,
										Kepenk,
										Kumanda ve Bariyer sistemlerinde Gaziantep' de bir çok yeniliğe imza atmıştır.<br />


										<b>Uzman Kadro</b>
										Deneyimli ve konusunda uzman 30 kişilik kadromuz ile en iyi ve en kaliteli ürün üretimi yapmaktayız. Tüm ürünlerimiz özenle başlangıç sürecinden teslim sürecine kadar eksiksiz ve hatasız bir şekilde teslim edilmektedir.
										<br />
										<b>Zamanında Teslim</b>
										Ürünlerimizi yapmaya başlamadan önce profesyonel bir çizgi ile ürünün tüm süreçleri müşteriye anlatılır ve gereken zaman hesaplanarak sizlere sunulur.
									</p>

								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>
<section class="food_section layout_padding-bottom mt-3">
	<div class="container">
		<div class="heading_container heading_center">
			<h2>
				Ürünlerimiz
			</h2>
		</div>

		<ul class="filters_menu">
			<li class="active" data-filter="*">Tümünü Göster</li>
			@foreach (var item in Model)
			{
				<li data-filter=".@item.Id">@item.Name</li>
			}
		</ul>
		<div class="row grid">
			<div class="filters-content">

				@{
					string link = "https://localhost:7208/Images/";
					foreach (var item in Model)
					{
						foreach (var product in item.Products)
						{
							var base64tostring = Convert.ToBase64String(product.PictureFile, 0, product.PictureFile.Length);
							var Imagesrc = string.Format("data:Image/*;base64," + base64tostring);

							<div class="col-sm-6 col-lg-4 all @product.CategoryId">
								<div class="box">
									<div>
										<div class="img-box">
											<img src="@Imagesrc" alt="">
										</div>
										<div class="detail-box">
											<h5>
												@item.Name
											</h5>
											<p>
												@product.Description
											</p>
											<div class="options">
												
											</div>
										</div>
									</div>
								</div>
							</div>
						}

					}
				}
			</div>
		</div>
</section>